* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    text-align: center;
}

h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.container {
    height: 50vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.box {
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: black;
    background-color: whitesmoke;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: whitesmoke;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    background-color: black;
    color: whitesmoke;
}

.msg {
    font-size: 5vmin;
    color: whitesmoke;
}

.msg-container {
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
